<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg"%>
	</div>

	<div id="content">
		<h1> Hi, I'm Canaan McKenzie </h1>
		<p>Welcome to my virtual studio where I develop and discuss products and ideas I like.</p>
		<p>I graduated in 2017 with a degree in Mechanical Engineering from the beautiful University of Vermont </p>
		<p>Until recently I was pursuing a Master's in Mechanical Engineering, but in February I left to pursue my passion for computer science </p>
		</div>
	</div>